 .u-section-1 {
  background-image: linear-gradient(#e9f2fa, #fbeced);
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 981px;
}

.u-section-1 .u-list-1 {
  width: 940px;
  margin: 26px auto 40px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 915px;
  grid-gap: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("assets/thumbs/(Taylor’s Version) thumb.png");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 21px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-2 {
  background-image: url("assets/thumb/Photoshop Generator thumb.png");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 21px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 722px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 511px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    min-height: 370px;
  }
}
