        body {
background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
background-image: radial-gradient(70% 70% at -8% 52%, #96E6FFBF 7%, #073AFF00 100%),radial-gradient(50% 50% at 18% 71%, #FFE3AC7A 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #DC9FFFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FF9993FF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #A0D4FFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #909090FF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #F1C0DB 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #FC977BFF 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #5F89FFFF 24%, #073AFF00 100%),linear-gradient(125deg, #efece8 1%, #C7C7C7FF 100%);            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #middleIsland {
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            width: 70%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h3 {
            color: #333;
        }

        #output {
            margin-top: 20px;
            color: #666;
        }

        hr {
            margin: 20px 0;
            border: 0;
            border-top: 1px solid #ddd;
        }

        .slidecontainer {
            margin-bottom: 20px;
        }

        label {
            font-size: 14px;
            color: #444;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
        }

        #redo {
            font-weight: 600;
            font-size: 20px;
            height: 35px;
            width: 35px;
            margin-top: 5px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
